<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
	integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2"
	crossorigin="anonymous">

<title>Finance</title>
</head>
<body>
	<div class="container">
		<h4>HR Data for Finance</h4>
		<hr>
		<table class="table table-bordered">
			<thead>
				<tr class="bg-danger">
					<th>ID</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Salary</th>
					<th>Vacation Days Total</th>
					<th>Vacation Taken</th>
					<th>Vacation Left</th>
					<th>401k Total</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="Finance : ${Finance}">
					<td th:text="${Finance.id}" />
					<td th:text="${Finance.firstName}" />
					<td th:text="${Finance.lastName}" />
					<td th:text="${Finance.salary}" />
					<td th:text="${Finance.vacaAvailable}" />
					<td th:text="${Finance.vacaTaken}" />
					<td th:text="${Finance.vacaLeft}" />
					<td th:text="${Finance.investments}" />
					
					<td>
					<!-- Delete Button -->
						<a th:href="@{/Employee/delete(financeId=${Finance.id})}"
						class="btn btn-danger btn-sm" 
						onclick="if(!(confirm('Are you sure you want to delete this entry?'))) return false"> Delete </a>
					</td>
					
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>